diffusers==0.33.1
distrax==0.1.5
dm-control==1.0.14
easydict==1.13
einops==0.8.1
flax==0.10.2
future==1.0.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.0.0
h5py==3.13.0
imageio==2.37.0
jax==0.5.0
ml_collections==1.0.0
ml_dtypes==0.5.1
optax==0.2.4
optree==0.15.0
orbax-checkpoint==0.11.1
orderly-set==5.4.0
packaging==24.2
pandas==2.2.3
pillow==10.4.0
scipy==1.15.2
tensorflow==2.19.0
etils==1.12.2
matplotlib==3.9.3
wandb[media]==0.27.2
opencv-python==4.11.0.86
robosuite==1.4.1
gym-aloha==0.1.1
bddl==3.5.0
tf_keras==2.19.0
moviepy==1.0.3
